<div class="container my-3">
  <h5 class="text-center">Random playground</h5>
  <div class="row">
    <!-- binding with interploation -->
    <div class="col-md-5">
      <div class="my-shadow p-3 my-3">
        <h6 class="text-center">Binding with Interpolation - PART 1</h6>
        <div class="mt-3">
          A random number : <b>{{ value }}</b>
        </div>
        <div class="text-center mt-3">
          <!-- binding click event for refreshing the random value -->
          <button (click)="setRandomValue()" class="btn btn-outline-success">
            Refresh
          </button>
        </div>
      </div>
    </div>

    <!-- Random numbers array with built-in pipe -->
    <div class="col-md-7">
      <div class="my-shadow p-3 my-3">
        <h6 class="text-center">Binding an Event - PART 2</h6>
        <div class="mt-3">
          <div class="row">
            <div class="col-md-8">
              Random numbers array with built-in pipe :
            </div>
            <div class="col-md-4 text-end">
              <button (click)="pushRandValue()" class="btn btn-sm btn-dark">Insert one</button>
            </div>
          </div>

          <!-- values -->
          <div *ngIf="values">
            <div *ngFor="let val of values">
              {{val  | currency: 'USD'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Random numbers array with pre-built pipe -->
    <div class="col-md-7">
      <div class="my-shadow p-3 my-3">
        <h6 class="text-center">Binding an Event - PART 3</h6>
        <div class="mt-3">
          <div class="row">
            <div class="col-md-8">
              Random sorted numbers with custom pipe :
            </div>
            <div class="col-md-4 text-end">
              <button (click)="pushInSortedValues()" class="btn btn-sm btn-dark">Insert one</button>
            </div>
          </div>

          <!-- values -->
          <div *ngIf="sortedValues">
            <div *ngFor="let val of sortedValues | sortList">
              {{val}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
